@charset "UTF-8";

.sub_wrap {
  background: #efefef;
}
.sub_title {
  background: #fff;
  border-bottom: 1px solid #b9b9b9;
}
.sub_title h2 {
  text-align: center;
  line-height: 50px;
}

.sub_con {
}
.sub_con > p {
  padding-top: 20px 0 10px 12px;
  font-size: 14px;
}

.sub_search {
  position: relative;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  margin: 0 12px;
  padding: 25px 17px 17px;
  border-radius: 5px;
}
.sub_search_input {
  border: none;
  border-bottom: 1px solid #b9b9b9;
  height: 30px;
  width: calc(100% - 70px);
  outline: none;
  padding-left: 10px;
}
.sub_search_input::placeholder {
  color: #999;
  font-size: 12px;
}
.sub_search_btn {
  position: absolute;
  right: 12px;
  display: inline-block;
  padding: 8px 12px;
  border: none;
  width: 49px;
  background-color: #666;
  color: #fff;
  font-size: 12px;
}
.conlist {
  padding: 20px 6px 6px;
  overflow: hidden;
}
.conlist li {
  float: left;
  padding: 6px;
  width: 50%;
}
.conlist a {
  display: block;
  background-color: white;
  border: 1px solid #b9b9b9;
  height: 100px;
  border-radius: 2px;
  text-align: center;
}
.conlist img {
}
